# Binaries
bin/
bin_int/
shaders/bin/
*.dll

# Visual studio files
.vs/
*.sln
*.vcxproj
*.filters
*.user

# Our files
src/generated/
shaders/generated/
resources/files.yaml
assets/
asset_cache/
captures/

# Learning
learning/gym-loco/gym_loco.egg-info/
learning/gym-loco/gym_loco/__pycache__/
learning/gym-loco/gym_loco/envs/__pycache__/
learning/__pycache__/
trained_models/
tmp/
