[submodule "ext/imgui"]
	path = ext/imgui
	url = ../../ocornut/imgui.git
[submodule "ext/entt"]
	path = ext/entt
	url = ../entt.git
[submodule "ext/directxtex"]
	path = ext/directxtex
	url = ../DirectXTex.git
[submodule "ext/yaml-cpp"]
	path = ext/yaml-cpp
	url = ../yaml-cpp.git
